@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gothic+A1:wght@300&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
html,body{
    width: 100%;
    height: 100%;
    /* background-color: #162179; */
}
body{
    display:grid;
    grid-template-rows: auto 1fr auto; 
}
.nav-log{
    display: flex;
    gap: 40px;
}
::-webkit-scrollbar{display: none;}
*{
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
main{
    /* width: 100%; */
    /* height: 100vh; */
    background-color: #242629;
   
}
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 10000;
    justify-content: space-between;
    background: #D80E12;
    align-items: center;
}
header .list{
    /* position: relative; */
    display: flex;
    margin-right: 180px;
    align-items: center;
    justify-content:space-around ; 
}
header .list li{
    list-style: none;
    margin-left: 50px;
    /* display: inline-block; */
}
header .list li a{
    text-decoration: none;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
    
}
header .list li :hover{letter-spacing: 2px;}
.logo{
    margin-left: 50px;
    font-size: 25px;
    color: black;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family: ; */
}
.logo span{
    
    font-size: 35px;
    color: white;
}
.background
{
    border: 1px solid rgb(25, 0, 255);
    background:#252b32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 40px;
    top: 29px;
    /* height: ; */
    padding: 70px 100px;
}
.content{
    position: relative;
    display: flex;
    text-align: center;
    gap: 25px;
    width: 40%;
    flex-direction: column;
    padding: 5px 10px;
}
.quote{
    font-size: 45px;
    font-family: 'Teko', sans-serif;
    color: white;
}
.text{
    font-size: 25px;
    font-family: 'Play', sans-serif;
    color: white;
}
.block-center{
    border: 1px solid #252b32;
    box-shadow: 1px 1px 3px 3px rgb(107, 105, 105);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: url("./images/pexels-jay-johnson-6335879.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter:blur(20px);
    gap: 20px;
    padding:50px 40px;
}
.names{
    display: flex;
    gap: 30px;
    font-family: 'Lexend Deca', sans-serif;
}
#fname, #lname{
  
    width: 250px;
    height: 40px;
    border-radius: 30px;
    padding: 10px 15px;
    font-family: 'Lexend Deca', sans-serif;
}
#mail, #subj{
    border-radius: 30px;
    padding: 10px 15px;
}
#mssg{
    border-radius: 20px;
    padding: 25px 15px;
}
#btn{
    position: relative;
    width: 40%;
    height: 40px;
    border-radius: 30px;
    background-color: #D80E12;
    left: 26%;
}
::placeholder{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
}
footer{
     padding: 50px 100px;
    /* margin-top:733px ; */
    /* height: 200px; */
    background-image: linear-gradient(25deg, #252b32, #b83b35, #a2342d, #252b32);
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.block ul li {
    list-style: none;
}
.block ul .text{
    font-family: 'Play', serif;
    color: white; 
   
}
.media1{
    background-image: url("./images/facebookIcon.png");
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid ;
}
.media2{
    background-image: url("./images/instagram.png");
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid ;
}
.media3{
    background-image: url("./images/twitterIcon.png");
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid ;
}
.list{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#popup{
    position: relative;
    bottom: 400px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.5);
    width: 350px;
    height: 200px;
    z-index: 1;
    display: none;
    box-shadow: 1px 1px 3px 3px rgb(107, 105, 105);
}
#popdown{
    position: relative;
    float: right;
}
#mssgbox{
    text-align: center;
    position: relative;
   top: 40%;
   left: 5%;
   font-family: 'play', serif;
   
}
#menu, #close{
    display: none;
   }
#menu, #close{
    width: 30px;
    height: 30px;
}
@media (max-width:560px) {
    header{
        height: 70px;
        background:grey;
    }
      header .logo{
         width: 50px;
         height:50px;
         margin-left: 12px;
         padding: 10px 0px;
     }
   
      header .list{
          border: 1px solid black;
          position: fixed;
          inset: -2% 0 0 55%; 
          flex-direction:column;
          align-items: center;
          background: rgb(155, 164, 170, 0.60);
          width: 55%;
          justify-content: start;
          display: none;
          z-index: 2;
     }
     header .list li{
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 25PX;
      margin-right:100px;
      width: 50%;
      text-align: center;
      align-self: center;
      align-content: center;
  }
  header .list :hover{
      color: #D80E12;
  }
  header .list li a{
      color: black;
      font-size: 18px;
      font-style: oblique;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #menu, #close{
    display: block;
}
  .front-fram{
    width: 100% !important;
    overflow-x: hidden;
}
.content{
    width: 90%;
}
.quote{
    font-size: 27px;
    font-family: 'Teko', sans-serif;
    color: white;
}
.text{
    font-size: 16px;
    font-family: 'Play', sans-serif;
}
.background{
    padding: 10% 10% 30% 15%;
    top: 65px;
}
.names{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Lexend Deca', sans-serif;
}
#fname, #lname{
  
    width: 250px;
    height: 40px;
    border-radius: 30px;
    padding: 10px 15px;
    font-family: 'Lexend Deca', sans-serif;
}
#mail, #subj{
    border-radius: 30px;
    padding: 10px 15px;
}
#mssg{
    border-radius: 20px;
    padding: 25px 15px;
}
#btn{
    position: relative;
    width: 60%;
    height: 40px;
    border-radius: 30px;
    background-color: #D80E12;
    left: 17%;
}
::placeholder{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
}
#menu{
    position: relative;
   right: 1;
   
    width: 45px;
    height: auto;
}
.nav-log{
    gap: 380px;
}
#close{
   position: relative;
  left: 19%;
  top: 15px;
    width: 40px;
    height: auto;
}

#popup{
   
    bottom: 450px;

}
}